<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-login (output)="isLoggedIn = true"></app-login>
</div>
<div *ngIf="isLoggedIn">
  <ul>
      <li><a routerLink="/balance">Balance</a></li>
      <li><a routerLink="/deposit">Deposit</a></li>
      <li><a routerLink="/deposit_check">Deposit Check</a></li>
      <li><a routerLink="/withdrawal">Withdraw</a></li>
    </ul>
  <router-outlet></router-outlet>
</div>

